.navbar-nav{
  flex-direction: row;
  a{
    margin-right: 8px;
  }
}.main-list{
  margin: 15px;
  display: flex;
  flex-direction: column;
  .main-item{

    border: 1px solid black;
    a{
      text-decoration: none;
    }
    .item-grid{
      display: flex;
      .item-text{
        color: black;
        padding-top: 20px;
      }
    }
  }
 }