.navbar-nav{
  flex-direction: row;
  a{
    margin-right: 8px;
  }
}.main-list{
  margin: 15px;
  display: flex;
  flex-direction: column;
  .main-item{
    border: 1px solid black;
    .item-grid{
      display: flex;
      .item-text{
        padding-top: 20px;
          text-decoration: none;
      }
    }
  }
 }